In [3]:
from pandas import Series, DataFrame
import pandas as pd

In [4]:
# Series
sample_data = pd.Series([0,10,20,30,40,50,60,70,80,90])
print(sample_data)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [5]:
# インデックスをアルファベットに変換する
sample_index_data = pd.Series(
    [0,10,20,30,40,50,60,70,80,90],
    index = ['a','b','c','d','e','f','g','h','i','j'])
print(sample_index_data)

a     0
b    10
c    20
d    30
e    40
f    50
g    60
h    70
i    80
j    90
dtype: int64

In [6]:
print('データの値', sample_index_data.values)
print('インデックスの値', sample_data_index.index)

データの値 [ 0 10 20 30 40 50 60 70 80 90]

NameError: name 'sample_data_index' is not defined

In [7]:
print('インデックスの値', sample_index_data.index)

インデックスの値 Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [8]:
df1 = DataFrame({'ID':['100','101','102','103','104'],
                 'City':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
                 'BirthYear':['1990','1991','1998','1993','1982'],
                 'Name':['Hiroshi','Akiko','Yuki','Satoru','Steve']})
print(df1)

    ID      City BirthYear     Name
0  100     Tokyo      1990  Hiroshi
1  101     Osaka      1991    Akiko
2  102     Kyoto      1998     Yuki
3  103  Hokkaido      1993   Satoru
4  104     Tokyo      1982    Steve

In [11]:
df2 = DataFrame({'ID':['100','101','102','103','104'],
                 'City':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
                 'BirthYear':['1990','1991','1998','1993','1982'],
                 'Name':['Hiroshi','Akiko','Yuki','Satoru','Steve'],
                index : ['a','b','c','d','f']})
print(df2)

NameError: name 'index' is not defined

In [12]:
df2 = DataFrame(df1,index=['a','b','c','d','e'])
print(df2)

    ID City BirthYear Name
a  NaN  NaN       NaN  NaN
b  NaN  NaN       NaN  NaN
c  NaN  NaN       NaN  NaN
d  NaN  NaN       NaN  NaN
e  NaN  NaN       NaN  NaN

In [13]:
print(df1)

    ID      City BirthYear     Name
0  100     Tokyo      1990  Hiroshi
1  101     Osaka      1991    Akiko
2  102     Kyoto      1998     Yuki
3  103  Hokkaido      1993   Satoru
4  104     Tokyo      1982    Steve

In [14]:
df1

    ID      City BirthYear     Name
0  100     Tokyo      1990  Hiroshi
1  101     Osaka      1991    Akiko
2  102     Kyoto      1998     Yuki
3  103  Hokkaido      1993   Satoru
4  104     Tokyo      1982    Steve

In [15]:
df2

    ID City BirthYear Name
a  NaN  NaN       NaN  NaN
b  NaN  NaN       NaN  NaN
c  NaN  NaN       NaN  NaN
d  NaN  NaN       NaN  NaN
e  NaN  NaN       NaN  NaN